@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


body {
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Nanum Gothic", sans-serif;
    background-color: rgb(3, 17, 49);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAAAsCAYAAADCfS42AAADsElEQVRogdWa324SQRTGp62VP4VCa22rsYpaW20lMb6BMfo+vEFfg1fobR+Au171hgsSkw0hpkljJOwWdoHdevHzYoSsugvo/pnhJHO75+OcmTPffB9CxBwgVqBbrNVqOSEq2bTX5eVlDr5txP27Yg9o3TdNs6SiSJNlWVYZGvdU1yI04GwV1BZJiEq2VqvloFsEsaK6JoEBnWyr1SoEgTcMYxN+fIIfH2NcH+r1ej4oX6/X24TWfdU1+SvgfM2yrHJYl8E7AfcQnD2wd6MvZx/cY3APQ3OaZgnOVlXXZhpygH8vhHV3MBjsgPcGbvLx5uwWwXtrGMZmUN5Wq1WA61xcOSMHXK3P2U1VsB/G3V04X4PhI/DezB7s52tx5v1PsGIFeoEdFaKSZTQ6APclGJlk8t/kwXtt2/bDoPz1ej0P3wvKBzsYmV4vuFDNZnND7iarnBRQedMOdsCrhjXLNM0SXK0nkX9xkDOPnHsI46dJgwQjA+4LxuOn4Vh6m8p2FVznwuhAu90ugXeaBp+Rx98qg1dtNpsb4XQhmeM/B9widMDZT2uQwtU6jA7AfaUNXZhHB2zb3pUcJ72reYIJvJNOpxPYQDkzU6QLcLU+6z0nB/hgJ22yJ+mCsw/eiXK6MJcOMH4G7gsl80DIuQnuseM4e0rpAhiZbvdLMQhEo9EoyN1kllTdML/owgPwqmFST+J0Ac5WmXnk3CMYPVHKWcSELoyfw7iihC7AdS7s+r29/bol6YB6FizHg1kCr9poNALpS7f7pZjIeFiADpxKZUCDd5WY0oUn4B7FRBeCP/Ivy3GcfXns9Hmp++lCv9/fjv47I35AqoleFfrbWmk/YkoX9sA7VV4oSQfGFS3VRDGlC0ftdjuiRB21UMPhI7mbhJb69GRXRXeFYjl6yckoUSM+VyjyB/QV8mN1heDu/YKOx2fwXoceQd2EfDHbFZI8alFX6O69gNutxVyP0QHcvVsWIT9eV+h2658SL4uQr8IV+gPAcgj5qlwhHwD9hXzVrpAPiJEB9yWj0UF4x9QJ+apdIR+Q+UJ+Yi/zudj0cIV8gBYQ8i2rnL4UrIcr5AOkn5Cvmyv0G7BfQn7oyzwtuqCjK/QHwNlCvnwHJk8XdHWFfADVC/m6u0I+oGqFfN1dIR9QdUL+srhC0/AJ+cdp0oVlcYWmsYiQf3FxkY/3r4nL5QpNQ9IFezceIT/a0tEV+i2gkwX31XA4fKyqSDq7QtOQdKG/PYsuJL0mN3Dc0vRPFy7KB7vc/ZMAAAAASUVORK5CYII=");
}

.clearfix {
    clear: both;
}

a {
    color: #ccf;
}

dt {
    font-weight: bold;
    background-color: rgba(256, 256, 256, 0.1);
    padding: 5px;
}

dd {
    margin-bottom: 5px;
    padding: 5px;
}

dd ul {
    margin: 0 0 0 1em;
    padding: 0;
}

dd ul li:first-of-type {
    margin-top: 0;
    padding-top: 0;
}

header {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.2);
}

header h1 {
    padding: 0.5em;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

header h1 a {
    color: white;
    text-decoration: none
}

nav {
    background-color: rgb(40, 73, 128);
    padding: 5px;
    margin: 0 0 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 1em;
    padding: 2px;
}

nav ul li a {
    color: white;
    text-decoration: none
}

main {
    margin: 0;
    background-color: rgb(40, 73, 128);
}

main section {
    margin: 0;
    padding: 0;
}

main h2 {
    width: 100%;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1em;
    flex: none;
}

main .reports {
    padding: 0.5em;
    flex-basis: 20%;
}

main .reports ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main .reports ul li {
    margin-bottom: 5px;
}

main .content {
    flex-basis: 75%;
    overflow-x: scroll;
}

main .content .vis {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 1em;
}

footer {
    position: relative;
    bottom: 0;
    padding: 0.5em;
    margin: 1em 0 0 0;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.2);
}

.markdown * {
    max-width: 100%;
}

.markdown h2 {
    text-align: left;
}

.runs .current {
    color: #cfb;
}

.vis svg {
}

.vis * {
    stroke: #eef;
}

.vis text, .vis tspan {
    stroke: none;
    fill: #eef;
}

.vis .button-on rect {
    stroke: #eef;
    stroke-width: 1px;
    fill: #ccd;
    padding: 2px;
    cursor: pointer;
}

.vis .button-on text {
    fill: #223;
    cursor: pointer;
}

.vis .button-off rect {
    stroke: #aab;
    stroke-width: 1px;
    fill: rgba(250, 250, 256, 0.1);
    padding: 2px;
    cursor: pointer;
}

.vis .button-off text {
    cursor: pointer;
}

.vis .data {
    stroke-width: 2px;
    stroke: #aad;
}

.vis .data-text {
    stroke: none;
    fill: #aad;
}

.vis .floating-legend .legend {
    display: none;
}

.vis .floating-legend.visible .legend {
    display: block;
}

.vis .floating-legend.visible .legend-item rect {
    fill: rgb(0, 33, 88);
    stroke: rgb(0, 23 68);
}

.vis .floating-legend .overlay rect {
    stroke-width: 0px;
    fill: rgba(0, 0, 0, 0.0);
}

.vis .static-legend text {
    font-size: 10pt;
}

.subvis text {
    font-size: 11pt;
}

.subvis .header {
    font-size: 14pt;
    font-weight: bold;
}

.subvis .datum-text {
    font-size: 8pt;
}

#dashboard .dash-title {
    font-size: 20px;
    fill: #ccf;
}

#dashboard .vis-back {
    fill: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1000px) {
    main {
        margin: 0 auto;
        border-radius: 5px;
        border: 0px solid transparent;
        max-width: 80%;
    }
}

@media only screen and (min-width: 800px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {
    main {
        display: block;
    }
    main h2 {
        padding-top: 0.5em;
    }
    nav {
        text-align: center;
    }
    nav ul li {
        margin-left: 0.5em;
    }
    nav ul li:first-of-type {
        margin-left: 0;
    }
}
