{% load flatpages %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% if title %}{{ title }} | {% elif flatpage.title %}{{ flatpage.title }} | {% endif %}explore621</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" />
        <script type="text/javascript" src="{% static 'js/d3/d3.min.js' %}"></script>
    </head>
    <body>
        <header>
            <h1><a href="/">explore621</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://adjectivespecies.com" target="_blank">[adjective][species]</a></li>
                </ul>
            </nav>
        </header>
        <main>
        {% if title %}<h2>{{ title }}</h2>{% elif flatpage.title %}<h2>{{ flatpage.title }}</h2>{% endif %}
            <section class="reports">
                {% if flatpage.title %}
                {% get_flatpages as flatpages %}
                <ul>
                    {% for page in flatpages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <ul>
                    {% for report in reports %}
                    <li><a href="{{ report.get_absolute_url }}">{{ report.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>
            <section class="content">
                {% block content %}{% endblock %}
            </section>
            <br class="clearfix" />
        </main>
        <footer>
            <p>&copy; 2018 [adjective][species]. This project is not affiliated with e621 or its creators. <a href="https://github.com/makyo/explore621" target="_blank">View on GitHub</a>.</p>
        </footer>
    </body>
</html>
