{% load flatpages %}
{% load static %}
{% load markdown %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% if title %}{{ title }} | {% elif flatpage.title %}{{ flatpage.title }} | {% endif %}explore621</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}" />
        {% titlefont %}
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" />
        <script type="text/javascript" src="{% static 'js/d3/d3.min.js' %}"></script>
    </head>
    <body>
        <header>
            <h1><a href="/">explore621</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/runners/">Runners</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="https://adjectivespecies.com" target="_blank">[adjective][species]</a></li>
                </ul>
            </nav>
        </header>
        <main>
        {% if title %}<h2>{{ title }}</h2>{% endif %}
            <section class="reports">
                {% if flatpage.title %}
                {% get_flatpages as flatpages %}
                <ul>
                    {% for page in flatpages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <ul>
                    {% for report in reports %}
                    <li><a href="{{ report.get_absolute_url }}">{{ report.title }}</a></li>
                    {% empty %}
                    <li><em>No public reports to list</em></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>
            <section class="content">
                {% block content %}{% endblock %}
            </section>
            <br class="clearfix" />
        </main>
        <footer>
            <p>&copy; 2018 <a href="https://adjectivespecies.com" target="_blank">[adjective][species]</a></p>
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0;vertical-align:middle;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>Information contained herein is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. Project source is licensed under the <a href="https://github.com/adjspecies/explore621/blob/master/LICENSE" target="_blank">MIT License</a></p>
            <p>This project is not affiliated with e621 or its creators. <a href="https://github.com/adjspecies/explore621" target="_blank">View on GitHub</a>.</p>
        </footer>
    </body>
</html>
